appname=feedify
runmode=dev
autorender=false
copyrequestbody=true

[feedify]
port=10100

[redis]
host=localhost
port=6379
protocol=tcp

[neo4j]
host=localhost
port=7474

[memcache]
host=localhost
port=11211

[service]
cache=memcache
graph=graph
stream=stream
js=otto

[stream]
message_adapter=socket_redis

[graph]
storage_adapter=neo4j_cypher
