appname=feedify
runmode=dev
autorender=false
copyrequestbody=true

[feedify]
port=10100

[service]
cache=memcache
graph=neo4j-cypher
stream=stream
js=otto

[redis]
host=localhost
port=6379
protocol=tcp

[stream]
message_adapter=socket_redis

[neo4j]
host=localhost
port=7474

[memcache]
host=localhost
port=11211
